<!DOCTYPE html>

<html  lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Add item to Cart </title>

<style>
    .image {
        position: absolute;
			  border: 1px solid red;
			  height: 45%;
			  width: 27%;
			  top: 23%;
			  left: 7%;
   }
  img {
        width:  100%;
        height: 100%;
        position:relative ;
        top: 0px;
        left: 0px;
    }
 </style>    
</head>
<body  onload="javascript:calculateProduct()">
        {% extends "index.html" %}
        {% block content %}
    <div class="container" dir="rtl">
        <a href="{{url_for('home')}}" class="home-button"> Home page </a>
        &nbsp&nbsp
        <a href="{{url_for('cart_items_list1', buyer=current_user.name)}}" class="btn btn-warning  " tabindex="-1" role="button">Shopping Cart &nbsp<i class="fa fa-cart-arrow-down"></i></a>
        <h5>مرحبا ..{{buyers.name}} <i class="fa fa-user"></i></h5>
        <h3> *** اضافه صنف الي سله الشراء ***</h4>
        <form action="/add_to_cartY"     method="POST">
            <div class="container">
                <div class="image">
                    <img src="/static/images/{{products.filename}}"  alt="{{products.filename}}">
                </div>
                <button type="button" class="btn btn-dark btn-sm">بيا
                    نات الصنف المطلوب</button><br>    
                <button type="button" class="btn btn-success btn-sm">اسم المزرعه</button>    
                <button type="button" class="btn btn-light btn-sm">{{farms.name}}</button>    
                <button type="button" class="btn btn-success btn-sm">الصنف</button>    
                <button type="button" class="btn btn-light btn-sm">{{products.prod_id}}-{{products.prod_category}}-{{products.prod_name}}</button>    

                <input type="hidden" id="id" name="id" value="{{products.id}}">
                <input type="hidden" id="buyer_id" name="buyer_id" value="{{buyers.id}}" >
                <input type="hidden" id="farm_id" name="farm_id" value="{{products.farm_id}}" >
                <input type="hidden" id="package" name="package" value="{{products.package}}">
                <input type="hidden" id="filename" name="filename" value="{{products.filename}}">
                
                <button type="button" class="btn btn-success btn-sm">السعر/كجم</button>
                <input type="number" id="unit_price"   name="unit_price" value="{{products.unit_price}}" > &nbsp   
                <button type="button" class="btn btn-success btn-sm">الكميه المطلوبه</button>
                <input type="number" id="quantity"   name="quantity" value="1" >  {{products.quantity}}&nbsp
                <!input type="file" id="filename" name="filename" value="">
                <!img src="/static/images/{{products.filename}}" alt=""   width="265"  height="150">
                <br>
                <button type="button" class="btn btn-dark btn-gm">اجمالى السعر
                <button type="button" class="btn btn-sm"><h4 id="result"></h4></button><br>
                <input type="hidden" id="order_status" name="order_status" value="pending">
                <br><br>
                <button type="button" class="btn btn-dark btn-sm">بيانات المشتري</button>  
                <br>
                <input type="hidden" id="buyer_id" name="buyer_id" value="{{buyers.id}}">
                
                <button type="button" class="btn btn-danger btn-sm">اﻷسم</button>
                <button type="button" class="btn btn-sm btn-light">{{buyers.name}}</button>
                <input type="hidden" id="name" name="name" 
                value="{{buyers.name}}">
                &nbsp
                <button type="button" class="btn btn-danger btn-sm  btn-danger">تليفون</button>
                <button type="button" class="btn btn-sm btn-light">{{buyers.phone}}</button>
                <input type="hidden"  id="phone" name="phone" 
                value="{{buyers.phone}}">
                &nbsp               
                <button type="button" class="btn btn-danger btn-sm">بريد الكترونى</button>
                <button type="button" class="btn btn-sm btn-light">{{buyers.email}}</button>
                <input type="hidden" id="email" name="email" 
                value="{{buyers.email}}" > &nbsp&nbsp
                <hr>
                <h5><p><span id="datetime"></span></p></h5>
            <input type="submit" value="Save"><br><br>
            </div>
        </form>
    </div>                
    <script>
          var dt = new Date();
          document.getElementById("datetime").innerHTML = dt.toLocaleString();
          const quantity = document.getElementById('quantity');
          const unit_price = document.getElementById('unit_price');
          const resultParagraph = document.getElementById('result');
          // Function to calculate the product and update the result paragraph
          function calculateProduct() {
              const value1 = quantity.value;
              const value2 = unit_price.value;
              const total = value1 * value2;
              //const button =document.getElementById('decreaseQuantity(this.nextElementSibling)')
              resultParagraph.textContent = total + ' جم';
              document.getElementById("total").innerText = total;
                      }
              quantity.addEventListener('input', calculateProduct);
              button.addEventListener('onclick', calculateProduct);
              //window.onload = calculateProduct;
              //document.addEventListener('DOMContentLoaded', calculateProduct);
              //document.getElementById("total").innerText = total;
      </script>
          {% endblock%}
</body>
</html>
<body>
