<!DOCTYPE html>
<html  lang="en"    dir="ltr">
<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ current_user.name }}</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css') }}">
</head>
<body dir="rtl"> 
    {% extends "index.html" %}
    {% block content %}
    <div class="container">
        <a href="{{url_for('home')}}" class="home-button"> Home page </a> 
        <h5>مرحبا ...{{ current_user.name }}
            <i class="fa fa-user"></i></h5>
            <h2>*** محتويات سله الشراء ***</h2>
        <hr>
        <table class="table table-striped">
            <caption>محتويات سله الشراء</caption>
            <thead>
                <tr>
                    <th>No</th>
                    <th>اسم الصنف</th>
                    <th>المزرعه</th>
                    <th>السعر</th>
                    <th>الكميه</th>
                    <th>اجمالى السعر</th>
                    <th>الحاله</th>
                    <th>المشترى</th>
                    <th>تاريخ/ساعه الطلب</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="farm-list">
                {% for row, product, farm, user in rows %}
                <strong>
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ product.prod_name }}</td>
                    <td>{{ farm.name}}</td>
                    <td> {{ row.unit_price }}</td>
                    <td>{{ row.quantity }}</td>
                    <td>{{ row.unit_price * row.quantity}}</td>
                    <td>{{ row.order_status}}</td>
                    <td>{{ user.id }}-{{ user.name }}</td>
                    <td>{{ row.event_datetime}}</td>
                    
                    <td><a href="{{ url_for('delete_item_from_cart', item_id=row.id) }}" aria-label="Twitter"><i class="fa fa-trash-o" style="font-size:20px;color:red"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  {% endblock%}
  </body>
</html>