<!DOCTYPE html>
<html lang="en"  >
<html>
<head>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ current_user.name }} Dashboard</title>
</head>
<body dir="rtl">
    {% extends "index.html" %}
    {% block content %}
    <div class="container">  
      <a href="{{url_for('home')}}" class="home-button"> Home page </a>
      <strong>
        <h5>مرحبا ..{{current_user.name}} <i class="fa fa-user"></i></h5>
      <strong>
      <h2>*** صفحه اصحاب المحلات والنشاط التجارى  ***</h2>
      <hr>
      <ul>
        <li>
          <a class="nav-link" href="">اسم النشاط التجارى
          <i class='fa fa-apple' style="font-size:20px;color:red"></i>
          </a>
        </li>
        <li>
          <a class="nav-link" href="{{url_for('add_store')}}">اضافه محل تجارى
          <i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
        </li>
        <li>
          <a class="nav-link" href="{{url_for('show_store_adv')}}">عرض اﻷعلان
          <i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
        </li>

        <li>
          <a class="nav-link" 
          href="" 
          >منتجات المحل<i class="fa fa-bullhorn"  style="font-size:20px;color:red"></i></a>
        </li>
        
      </ul>
    <caption>صفحه ملاك المحلات التجاريه</caption>
  </div>
  <footer class="footer">
    <strong>&copy; Admin : Sherif Refaat  Tel: 01019301893</strong>
  </footer>

  {% endblock %}
  </body>
</html>
