<!DOCTYPE html>
<html lang="en"  >
<html>
<head>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ current_user.name }} Dashboard</title>

<style>
  .custom-icon {
    font-size: 20px;
    color: red;
}
</style>
</head>
<body dir="rtl">
    {% extends "index.html" %}
    {% block content %}
    <div class="container">  
      <a href="{{url_for('home')}}" class="home-button"> Home page </a>
      <strong>
        <h5>مرحبا ..{{current_user.name}} <i class="fa fa-user"></i></h5>
      <strong>
      <h2>*** صفحه اصحاب المزارع  ***</h2>
      <h3>مزرعه {{farm.name}}</h3>
      <ul>
        <li>
          <a class="nav-link" href="{{url_for('prod_list2', name=current_user.name, farm_id=farm.id) }}">منتجات المزرعه
          <i class="fa fa-apple custom-icon"></i>
          </a>
        </li>
        <li>
          <a class="nav-link" href="{{url_for('add_productY', farm_id=farm.id) }}">اضافه منتجات
          <i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
        </li>
        <li>
          <a class="nav-link" 
          href="{{url_for('cart_items_list2', farm_id=farm.id )}}" 
          >طلبات منتجات المزرعه  <i class="fa fa-bullhorn custom-icon"></i></a>
        </li>
        <li>
          <a class="nav-link" 
          href="{{url_for('view_orders_list_F', farm_id=farm.id )}}" 
          > كشف طلبات الشراء <i class="fa fa-bullhorn custom-icon"></i></a>
        </li>
        
        <!li>
          <!a class="nav-link" href="">  
          <!i class="fa fa-edit" style="font-size:24px"></i></a>
        <!/li>
        <!li>
          <!a class="nav-link" href="">
          <!i class="fa fa-trash-o" style="font-size:20px;color:red"></i></a>
        <!/li>
      </h5>
      </ul>
    <caption>صفحه ملاك المزارع</caption>
  </div>
  <footer class="footer">
    <strong>&copy; Admin : Sherif Refaat  Tel: 01019301893</strong>
  </footer>

  {% endblock %}
  </body>
</html>
