<!DOCTYPE html>
<html  lang="en"    die="rtl">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ current_user,name }} : Purchase Orders List </title>
</head>
<body dir="rtl">
    {% extends "index.html" %}
    {% block content%}
    <div class="container">
        <a href="" class="DB-button">Dashboard</a>
        <a href="{{url_for('home')}}" class="home-button"> Home page </a> 
        <h5>مرحبا ..{{ current_user.name }} <i class="fa fa-user"></i></h5><style> color:red></style>
        <h2>*** Purchase Orders List ***</h2>
        <table class="table table-striped">
            <caption>***Purchase Orders List***</caption>
            <strong>
                <thead>
                    <td>رفم</th> 
                    <td>رقم الطلب</th>
                    <td>تاريخ الطلب</th>
                    <td>المزرعه</td>
                    <td>اسم المشترى </th>
                    <td>اسم الملف</td>
                    <td>عرض الطلب</th>
                    <td>الغاء الطلب</th>
                </thead>
                <tbody>
                /* </tbody>  */
                {% if s %}
                {% for s in s %}
                <tr>
                    <td>{{ s.id }}</td>
                    <td>{{ s.order_no }}</td>
                    <td>{{ s.order_date }}</td>
                    <td>{{ s.order_farm }}</td>
                    <td>{{ s.order_user }}</td>
                    <td>{{ s.order_copy }}</td>
                    <td><a href="{{ url_for('view_order', order_id=s.id) }}"><i class="fa fa-eye" >View Order</i></a></td>
                    <td><a href="{{url_for('delete_order', order_id=s.id) }}"> &nbsp&nbsp&nbsp <i class="fa fa-trash-o" style="font-size:20px;color:red"></i></a></td>
                  </tr>
                {% endfor %}
                {% endif%}
                <br>
            </tbody>
        </table>
    </div>
{% endblock %}
</body>
</html>