<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>El-Reef El-Oroby</title>


  <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/thabit.css">
  <link rel="stylesheet" href="http://www.fontstatic.com/f=jazeera,jazeera-light">
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/amiri.css">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  <style>
    h1{
      color:black}
      .p{
        text-align: left;
      }
    img{
      width: 50%;
      height: 50%;
    }
    </style>
  </head>
<body dir="rtl">
  {% extends "index.html"%}
  {% block content%}
  <div class="container">
    <div class="shadow p-2 badge-primary">
      <h2>مجتمع الريف اﻷوربي  </h2>
      <h1>Markets</h1>

  <div class="card-group">
    <div class="card">
      <img src="static/images/sadat.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">Mina Market</h4>
        <hr>
        <div class="container" direction="rtl">
          <div>
            <button type="button" class="btn btn-primary btn-sm">رقم اﻷتصال -1</button>
            <input  type="text" name="phone1"  id="phone"> 
            <button type="button"  class="btn btn-secondary btn-sm"></button> 
          </div>
          <br>
          <div>
            <button type="button" class="btn btn-primary btn-sm">رقم اﻷتصال -2</button>
            <button type="button"  class="btn btn-secondary btn-sm"></button> 
          </div>
          <br>
          <div>
            <button type="button" class="btn btn-primary btn-sm">العنوان</button>
            <button type="button"  class="btn btn-secondary btn-sm"></button> 
          </div>
        </div>
        <div>
          <a href="#" class="btn btn-primary  btn-sm">لينك الموقع</a>
          <button type="button"  class="btn btn-secondary btn-sm"></button> 
        </div>
      </div>
    </div>
    <div class="card">
      <img src="static/images/obama.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">Zaki Market</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <img src="static/images/poirot.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">Poirot Market</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card-group">
    <div class="card">
      <img src="static/images/sadat.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">Saber Market</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <img src="static/images/obama.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">Basem Market</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <img src="static/images/poirot.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">Al Nahar Market</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
{%endblock%}      
</body>
</html>