<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>El-Reef El-Oroby</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    .search-icon {
        cursor: pointer;
        font-size: 24px;
        margin-left: 10px;
        color: #007bff; /* Optional: Change color */
    }
        select {
            background-color: grey; /* Light blue background */
            color: #f1e2e2; /* Text color */
            padding: 10px; /* Padding for better spacing */
            border: 1px solid #ccc; /* Border styling */
            border-radius: 5px; /* Rounded corners */
            font-size: 16px; /* Font size */
        }
        select:focus {
            background-color: white; /* Slightly darker background on focus */
            color:black;
            border-color: #b8c29d; /* Change border color on focus */
        }
</style>

<script>
  function submitForm(){
    document.getElementById("myForm").submit();
    }

    function submitForm1(){
    document.getElementById("myForm1").submit();
    }
  
  </script>

<!-- <script>
    document.addEventListener("DOMContentLoaded", function() {
      updateEntry() });
      console.log("sherif")
    
    function updateEntry(){
      const mainSelect = document.getElementById('options');
      const subSelect = document.getElementById('options');
         // Clear existing options
            options.innerHTML = '';
  }
  </script> -->

  <script>  
  function checkLogin() {
  // Assume you have a variable or function to check the user's login status
  var isLoggedIn = checkUserLoginStatus();

  var link = document.getElementById('myLink');

  if (isLoggedIn) {
    link.href="{{url_for('login')}}"  // Set the link URL
    link.removeAttribute('disabled');  // Remove the disabled attribute
  } else {
    link.removeAttribute('href');       // Remove the link URL
    link.setAttribute('disabled', 'disabled');  // Add the disabled attribute
  }
  }
    </script> 

</head>
<body direction="rtl">
  {% extends "index.html" %}
    {% block content %} 
  <div class="container">
    <a href="{{url_for('home')}}" class="btn btn-primary btn-sm"> Home page </a>
    <stronng>
    <h4>*** منتجات مزارع الريف الاوربي ***</h4>
    <hr>
    <div class="button-container">
      <div class="left-buttons">
        <a href="{{url_for('login')}}" id="myLink" class="btn btn-danger btn-sm " tabindex="-1" role="button">Customer Login &nbsp<i class="fa fa-arrow-down"></i></a>&nbsp
        <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-user"></i>{{ current_user.name }}</button>
      </div>
      {% if current_user.name %}
        <a href="{{url_for('cart_items_list1', buyer=current_user.name)}}" class="btn btn-warning btn-sm " tabindex="-1" role="button">Shopping Cart <i class="fa fa-cart-arrow-down"></i></a>
        {% endif %}
  
      {% if current_user.name %}
      <form  id="myForm1" action="prod_list_by_products" method="POST">
        <label for="options" >options</label>
        <select name="options"  id="options" placeholder="Select Product">
          <option value="" selected>بحث بالنوع / الصنف</option>
            {% for product in products %}
            <option name="options" id="options" value="{{ product.prod_category }}">{{ product.prod_category }}</option>
            {% endfor %}
        </select>
        <i class="fas fa-search search-icon" 
        onclick="submitForm1()"></i> 
        </form>
      {% endif %}
      <strong>
      <form  id="myForm" action="prod_list_by_farm" method="POST">
        <select name="options"  id="options" placeholder="Select Farm">
          <option value="" selected>بحث بأسم المزرعه</option>
            {% for farm in farms %}
            <option name="options" id="options" value="{{ farm.id }}">{{ farm.name }}</option>
            {% endfor %}
        </select>
        <i class="fas fa-search search-icon" 
        onclick="submitForm()"></i>
      </form>
    </div>
    {% for product, farm in prods %}
    <div class="card mb-2" style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-2">
              <img src="static/images/{{product.filename}}" class="img-fluid rounded-start" alt="{{product.filename}}" width="100%"  length="auto">
              <p>{{product.prod_name}}</p>
        </div>
        <div class="col-md-10">
          <div class="card-body">
                <h4 class="card-title1"> مزارع   {{farm.name}}   </h4>
                <h5 class="card-title2">{{product.prod_category}}{{'-'}}{{product.prod_name}} </h5>
                <p class="card-text"><small class="text-body-secondary"> العبوه:{{product.package}} </small></p>
                <p class="card-text"><small class="text-body-secondary">السعر:{{product.unit_price}} جم</small></p>
                <!p class="card-text"><small class="text-body-secondary">  تاريخ/وقت اﻷضافه :{{ product.event_datetime }} </small></p>
          </div>
          {% if current_user.name != null %}
                <a href="{{ url_for('add_to_cart', item_id=product.id, buyer=current_user.name) }}" class="link-box">
                <h5>AddX<i class="fa fa-fw fa-cart-plus"></i></h5></a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
   {% endblock %} 
  </body>
</html>