<!DOCTYPE html>
<html>
<head>
    <!--- to input querry text to search for product through prod_list1.html---->
    <meta charset="UTF-8" />
    <title>input search text</title>
</head>
<body>
<div class="container">
    <h3> Search by Farm Name</h3>
    <form  action="prod_list_by_farm" method="POST">
        <select name="querry-text"  id="querry-text" placeholder="Select Farm">
            <option value="" selected>أختار المزرعه</option>
            {% for farm in farms %}
                <option name="querry-text"   id="querry-text"    value="{{farm.id}}"> {{farm.name}}</option> farm
            {% endfor %}
        </select>
        <input type="submit" value="Submit"> 
    </form>
</div>
</body>
</html>